@media (max-width: 900px) {
    *{
        margin: 0;
        padding: 0;
        font-family: 'Courier New', Courier, monospace;
    }
    
    main{
        background: linear-gradient(to left, blue, pink);
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    h1{
        text-align: center;
    }
    .container {
        overflow: hidden;
        border-radius: 10px;
        width: calc(100% - 10px);
        background-color: rgba(255, 255, 255, 0.418);
        min-height: 400px;
        position: relative;
        border: 1px solid transparent;

    }
    
    button {
        position: absolute;
        width: 6%;
        height: 100%;
        padding: 0.1em;
        border: 1px solid transparent;
        color: white;
        cursor: pointer;
        background: #00000086;
    }
    
    #carousel {
        font-size: 20px;
        text-align: left;
        font-weight: 700;
        margin: auto;
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    #left-btn {
        left: 0;
    }
    
    #right-btn {
        right: 0;
    }
    
}

